@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.conatiner{
    width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
.highlight1{
    color:#FABE4C;
}
/* ===============
      Header Part 
==================
*/
header{
    background-color: #FFFBF0;
    height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 100px;
    /* align-items: center; */
}
.logo{
    margin-top: 40px;
}
.logo img{
    height: 40px;
    width: 292px;
}
.navigation{
    display: flex;
    justify-content: space-around;
}
.navigation li{
    list-style: none;
    margin-top: 40px;
    margin-left: 51px;
}
.navigation li a{
    text-decoration: none;
    color: #3C3C3C;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 10px;
}
.btn-style1{
    padding: 15px 20px;
    outline: 0;
    background-color:#9DB53B;
    border-radius: 8px;
    margin: 15px 0;
}
.btn-style1:hover{
    color: black;
    background-color: rgba(38, 192, 179, 0.678);
    cursor: pointer;

}
.banner{
    height: calc(100vh - 100ox);
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.banner-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.banner-left h1{
    width: 100%;
    font-size: 59px;
    line-height: 1.5;
}
.banner-left p{
    text-align: justify;
    line-height: 1.5;
}
.banner-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
/* ==========
Womens cloth part
============= */
.container1{
    margin: 50px auto;
    padding: 0 30px; 
    width: 1200px;
}
.container1 h1{
    display: flex;
    justify-content: center;
}
.mens{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.cloth{
    height: 560px;
    width:340px ;
    
}
.jacket{
    height: 530px;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    padding: 35px 25px;
    border-radius: 20px;
}
.jacket-photo{
    background-color: #f1f1f1;
    height: 310px; 
    width: 260px;
    border-radius: 15px;
    
}
.jacket-photo img{
    height: 300px;
    width: 250px;
    padding: 10px 10px;
    border: 1px solid #f1f1f1 ;
    margin: 5px 5px;
    border-radius: 15px;
}
.jacket-detail{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.jacket-descriptionl p{
    text-align: justify;
}
.jacket-price{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.shortcuut{
    display: flex;
    align-items: center;
    column-gap: 15px;
    width: 480px;
    height: 135px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}
.shortcuut img{
    width: 78px;
    height: 82px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.des{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right-side img{
    height: 355px;
    width: 600px;
}
.st{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
footer{
    height: 150px;
    width: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 50px;
}
.details{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-end;
}